#Tomatoes {
	overflow: auto;
	width: calc(50% - 8px);
	height: 50vh;
	padding: 16px;
	border: 1px solid #dddddd;
	border-radius: 4px;
	background: #ffffff;
	box-shadow: 0 2px 0 rgba(255, 255, 255, .2);
}
